// Custom CSS

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.lato {
    font-family: $lato;
}

.shadows-into-light {
    font-family: $shadows-into-light;
}

.thumb-servicos {
    border-radius: 50px 0;
}

.after-title, .before-title, .after-title-contato {
    @extend .position-absolute;
}

@media (max-width: 575.98px) {
    .after-title {
        top: -2rem;
        right: 94%;
    }
    .after-title-contato {
        top: -2rem;
        right: 48%;
    }
    .before-title {
        top: -2rem;
        left: 48%;
    }
}

@media (min-width: 576px) {
    .after-title {
        top: -2rem;
        right: 3rem;
    }
    .after-title-contato {
        top: -2rem;
        right: 3rem;
    }
    .before-title {
        top: -2rem;
        left: -3rem;
    }
}

@media (min-width: 768px) {
    .after-title {
        top: -2rem;
        right: 8rem;
    }
    .after-title-contato {
        top: -2rem;
        right: 1rem;
    }
    .before-title {
        top: -2rem;
        left: -3rem;
    }
}

@media (min-width: 992px) {
    .after-title {
        top: -2rem;
        right: 13rem;
    }
    .after-title-contato {
        top: -2rem;
        right: 2rem;
    }
    .before-title {
        top: -2rem;
        left: -3rem;
    }
}

@media (min-width: 1200px) {
    .after-title {
        top: -2rem;
        right: 18rem;
    }
    .after-title-contato {
        top: -2rem;
        right: 1rem;
    }
    .before-title {
        top: -2rem;
        left: -3rem;
    }
}