// Custom CSS

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.lato {
    font-family: $lato;
}

.shadows-into-light {
    font-family: $shadows-into-light;
}

.thumb-servicos {
    border-radius: 50px 0;
}

ul {
//   font-family: monospace;
//   font-size: 2em;
//   list-style: none;
//   margin: 2em;
//   padding: 0;
  
  li {
    // margin: 0;
    // margin-bottom: 1em;
    // padding-left: 1.5em;
    // position: relative;
    
    &:after {
      content: '';
      height: .4em;
      width: .4em;
      background: $danger;
    //   display: block;
    //   position: absolute;
    //   transform: rotate(45deg);
    //   top: .25em;
    //   left: 0;
    }
    
  }
  
}